In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('data.csv')

In [0]:
data.head()

       asciiname  population                                           location
0    Quezon City     2761720    https://www.google.com/maps/?q=14.6488,121.0509
1         Manila     1600000    https://www.google.com/maps/?q=14.6042,120.9822
2  Caloocan City     1500000  https://www.google.com/maps/?q=14.64953,120.96788
3          Budta     1273715   https://www.google.com/maps/?q=7.20417,124.43972
4          Davao     1212504   https://www.google.com/maps/?q=7.07306,125.61278

In [0]:
data['latitude'] = data['location'].apply(lambda x: float(x.split(",")[-1]))
data['longitude'] = data['location'].apply(lambda x: float(x.split(",")[-2].split("=")[-1]))

In [0]:
data.head()

       asciiname  population  ...   latitude  longitude
0    Quezon City     2761720  ...  121.05090   14.64880
1         Manila     1600000  ...  120.98220   14.60420
2  Caloocan City     1500000  ...  120.96788   14.64953
3          Budta     1273715  ...  124.43972    7.20417
4          Davao     1212504  ...  125.61278    7.07306

[5 rows x 5 columns]

In [0]:
data.dtypes

asciiname      object
population      int64
location       object
latitude      float64
longitude     float64
dtype: object

In [0]:
data.to_csv('pop_long_lat.csv', index=False)